## データの永続化
## SQLite
* 軽量データベースを実装するc言語のライブラリ
* サーバー用のプロセスを必要としない、組み込み型のデータベースエンジン
* 単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [2]:
#DBファイルの保存先(相対パスで指定)
path = ''

#google.colabの場合
# path = '/content/'
# DBファイル
db_name = 'test.db'

# DB接続の確率
#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |
### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

###　テーブル作成

In [3]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #sql文の作成
    #テーブルの作成
    sql = 'CREATE TABLE cars(id INT, name TEXT, price REAL);'

    #SQL文の実行
    cur.execute(sql)
except sqlite3.Error as e:
    print('DBエラーが発生しました:' ,e)
finally:  
    #DBへの接続を閉じる
    conn.close()

## データをdbに挿入する方法（単一レコード）

In [4]:
path = ''
db_name = 'car.db'
try:

    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #sql文の作成
    #データの挿入
    # INSERT INTO テーブル名　VALUES(列に対応したデータを間まで区切りで);
    #文字列データを挿入する場合は文字列をシングルクォーテーション(')またはダブルクォーテーション(")で囲む必要がある
    sql = "INSERT INTO cars(id, name, price) VALUES(1, '370z', 7000000);"

    #SQL文の実行
    cur.execute(sql)
    conn.commit()  #変更をdbに確定
except sqlite3.Error as e:
    print('DBエラーが発生しました:' ,e)
finally:
    #DBへの接続を閉じる
    conn.close()

## データを一気に複数入れる

In [5]:
path = ''
db_name = 'car.db'
try:

    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #sql文の作成
    #複数レコードの挿入
    # INSERT INTO テーブル名　VALUES(列に対応したプレースホルダーをカンマ区切りで指定);
    #文字列データを挿入する場合は文字列をシングルクォーテーション(')またはダブルクォーテーション(")で囲む必要がある
    sql = "INSERT INTO cars(id, name, price) VALUES(?, ?, ?);"

    cars = [
        (2, '911カメラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビックYupe-R', 5000000)
    ]
    #SQL文の実行
    cur.executemany(sql, cars)
    conn.commit()  #変更をdbに確定(反映)
except sqlite3.Error as e:
    print('DBエラーが発生しました:' ,e)
finally:
    #DBへの接続を閉じる
    conn.close()

db内のデータを参照する

In [6]:
path = ''
db_name = 'car.db'
try:

    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #　データを参照するsql
    #select 列名1, 列名2, ... from テーブル名 where 条件;
    sql = "SELECT * FROM cars;"

    #SQL文の実行
    cur.execute(sql)
except sqlite3.Error as e:
    print('DBエラーが発生しました:' ,e)
else:
    for row in cur:
        id, name, price = row
        print(id, name, price)
finally:
    #DBへの接続を閉じる
    conn.close()

1 370z 7000000.0
2 911カメラ 15500000.0
3 GRスープラ 8000000.0
4 シビックYupe-R 5000000.0

## データを消す

In [7]:
path = ''
db_name = 'car.db'
try:

    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #データを削除する
    #delete from テーブル名 where id = 1
    sql = "DELETE FROM cars WHERE id = 1;"


    #SQL文の実行
    cur.execute(sql)
    conn.commit()
except sqlite3.Error as e:
    print('DBエラーが発生しました:' ,e)
finally:
    #DBへの接続を閉じる
    conn.close()

In [8]:
path = ''
db_name = 'car.db'
try:

    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #データを削除する
    #delete from テーブル名 where id = 1
    sql = "UPDATE cars SET price = ? WHERE id = ?;"


    #SQL文の実行
    cur.execute(sql,(5000000, 2))
    conn.commit()
except sqlite3.Error as e:
    print('DBエラーが発生しました:' ,e)
finally:
    #DBへの接続を閉じる
    conn.close()